<div class="center_form">
<h1> Skillz </h1>
<% if current_user %>
<h1>My Skillz</h1> <%= link_to "Add Skillz" , new_skill_path%>
<% end %>
<div>
<% @skills.each do |skill| %>
    <h1><%= link_to skill.game, skill %></h1>

<% end %>
</div>
</div>
