// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */

@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
  width: 100%;
  background: url('BGimage.jpg') 100% fixed;
  background-position: cover;
  color: white;
  font-family: Oswald;
  padding-top: 70px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
a:visited{
  text-decoration: none;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: skyBlue;
}
a:hover{
  color: white;
  text-shadow: 2px 2px 10px skyBlue;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: skyBlue;
  z-index: 3000;
}
.bld-img{
  text-align: center;
  // height: 10em;
  width: 10em;
}
.exhib{
  // width: 30em;
}

.exhib iframe{
  width: 30em;
  height: 20em;
}

@import "bootstrap-sprockets";
@import "bootstrap";
