/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aquaMarine;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  background-color: #777;
  font-family: Indie Flower ;

}
a {
  text-decoration: none;
  color: aquaMarine;

}
a:visited{
  text-decoration: none;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
a:hover{
  color: white;
  text-shadow: 2px 2px 10px white;
}
.bld-img{
  text-align: center;
  height: 10%;
  width: 10%;
}
.skills {
  position: absolute;
  top: 5%;
  right: 5%;
}
.skills-left {
  position: absolute;
  top: 5%;
  left: 5%;
}
.sekshin{
  padding: 5%;
  border-bottom: 2px solid #444;
}
.comment_sekshin{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.comment{
  margin: auto;
  width: 50%;
  border-bottom: 2px solid #888;
}
.center_form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pad {
  padding-right: 20px;
}
